main{
	background: #ededed;
	padding: 1rem 12rem;
}
.outer{
	background: #fff;
	padding: 1rem;
}
.inner{
	background: #ededed;
}
.heading{
	display: flex;
	justify-content: center;
	padding: 1.5rem 0;
}
.heading p{
	font-size: 15px;
	font-weight: 500;
	color: #403a37;
	padding-left: .7rem;
	padding-top: .3rem;
}
.heading img{
	width: 27px;
	height: 27px;
	filter: brightness(.6) invert(1);
}
.subheading p{
	font-size: 13px;
	font-weight: 500;
	color: #403a37;
	padding: 1rem 0;
	padding-left: 3.3rem;
}
.inner .content{
  display: flex;
	justify-content: space-around;
	padding-left: 1.5rem;
	padding-top: 1rem;
	margin-top: -2px;
	padding-right: 6rem;
	padding-bottom: 8rem;
}
.inner .content .content-list{
	display: flex;
	flex-direction: column;
}
.inner .content .content-list a{
   text-decoration: none;
   font-size: 12px;
   color: #b3adaa;
   padding: .25rem 0;
}
.button{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 4rem;
}
.button button{
	background: #F05538;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	padding: .6em 1.4rem;
	border: none;
	outline: none;
	border-radius: 5px;
}